/* You can add global styles to this file, and also import other style files */
*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: rgb(116, 116, 116);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}